@import "tailwindcss";

@plugin "tailwindcss-animate";
@plugin "@tailwindcss/typography";
@plugin "tailwind-scrollbar-hide";

@custom-variant dark (&:where(.dark, .dark *));

:root {
  scrollbar-color: rgba(0, 0, 0, 0.2) transparent;

  --color-background-0: #ffffff;
  --color-background-25: #fcfcfd;
  --color-background-50: #f9fafb;
  --color-background-100: #f2f4f7;
  --color-background-200: #eaecf0;
  --color-background-300: #d0d5dd;
  --color-background-400: #98a2b3;
  --color-background-500: #667085;
  --color-background-600: #475467;
  --color-background-700: #344054;
  --color-background-800: #1d2939;
  --color-background-900: #101828;

  --color-text-25: #fcfcfd;
  --color-text-50: #f9fafb;
  --color-text-100: #f2f4f7;
  --color-text-200: #eaecf0;
  --color-text-300: #d0d5dd;
  --color-text-400: #98a2b3;
  --color-text-500: #667085;
  --color-text-600: #475467;
  --color-text-700: #344054;
  --color-text-800: #1d2939;
  --color-text-900: #101828;

  --color-border-100: #f2f4f7;
  --color-border-200: #eaecf0;
  --color-border-300: #d0d5dd;

  --color-primary-25: #b4ffc2;
  --color-primary-50: #96f1a7;
  --color-primary-100: #78db8e;
  --color-primary-200: #5cc576;
  --color-primary-300: #53c772;
  --color-primary-400: #3fb060;
  --color-primary-500: #1f9a4b;
  --color-primary-600: #008538;
  --color-primary-700: #006f27;
  --color-primary-800: #005a18;
  --color-primary-900: #00460b;
}

.dark {
  scrollbar-color: rgba(255, 255, 255, 0.2) transparent;

  --color-background-0: #3e4a4c;
  --color-background-25: #3d4849;
  --color-background-50: #3b4747;
  --color-background-100: #394544;
  --color-background-200: #374440;
  --color-background-300: #33403c;
  --color-background-400: #2f3c38;
  --color-background-500: #2b3834;
  --color-background-600: #273430;
  --color-background-700: #23302c;
  --color-background-800: #1f2c28;
  --color-background-900: #1b2824;

  --color-text-900: #fcfcfd;
  --color-text-800: #f9fafb;
  --color-text-700: #f2f4f7;
  --color-text-600: #eaecf0;
  --color-text-500: #d0d5dd;
  --color-text-400: #98a2b3;
  --color-text-300: #667085;
  --color-text-200: #475467;
  --color-text-100: #344054;
  --color-text-50: #1d2939;
  --color-text-25: #101828;
  
  --color-border-100: #536366;
  --color-border-200: #617477;
  --color-border-300: #718386;

  --color-primary-25: #00460b;
  --color-primary-50: #005a18;
  --color-primary-100: #006f27;
  --color-primary-200: #008538;
  --color-primary-300: #1f9a4b;
  --color-primary-400: #3fb060;
  --color-primary-500: #53c772;
  --color-primary-600: #5cc576;
  --color-primary-700: #78db8e;
  --color-primary-800: #96f1a7;
  --color-primary-900: #b4ffc2;
}

@theme {
  --font-sans: var(--font-rawline);
  --font-mono: var(--font-rawline);
  --font-cursive: var(--font-borel);

  --color-gray-25: #fcfcfd;
  --color-gray-50: #f9fafb;
  --color-gray-100: #f2f4f7;
  --color-gray-200: #eaecf0;
  --color-gray-300: #d0d5dd;
  --color-gray-400: #98a2b3;
  --color-gray-500: #667085;
  --color-gray-600: #475467;
  --color-gray-700: #344054;
  --color-gray-800: #1d2939;
  --color-gray-900: #101828;

  --color-green-25: #b4ffc2;
  --color-green-50: #96f1a7;
  --color-green-100: #78db8e;
  --color-green-200: #5cc576;
  --color-green-300: #53c772;
  --color-green-400: #3fb060;
  --color-green-500: #1f9a4b;
  --color-green-600: #008538;
  --color-green-700: #006f27;
  --color-green-800: #005a18;
  --color-green-900: #00460b;

  --color-error-25: #fffbfa;
  --color-error-50: #fef3f2;
  --color-error-100: #fee4e2;
  --color-error-200: #fecdca;
  --color-error-300: #fda29b;
  --color-error-400: #f97066;
  --color-error-500: #f04438;
  --color-error-600: #d92d20;
  --color-error-700: #b42318;
  --color-error-800: #912018;
  --color-error-900: #7a271a;

  --color-warning-25: #fffcf5;
  --color-warning-50: #fffaeb;
  --color-warning-100: #fef0c7;
  --color-warning-200: #fedf89;
  --color-warning-300: #fec84b;
  --color-warning-400: #fdb022;
  --color-warning-500: #f79009;
  --color-warning-600: #dc6803;
  --color-warning-700: #b54708;
  --color-warning-800: #93370d;
  --color-warning-900: #7a2e0e;

  --color-success-25: #f6fef9;
  --color-success-50: #ecfdf3;
  --color-success-100: #d1fadf;
  --color-success-200: #a6f4c5;
  --color-success-300: #6ce9a6;
  --color-success-400: #32d583;
  --color-success-500: #12b76a;
  --color-success-600: #039855;
  --color-success-700: #027a48;
  --color-success-800: #05603a;
  --color-success-900: #054f31;

  --color-blue-light-50: #f0f9ff;
  --color-blue-light-700: #026aa2;

  --color-purple-50: #f4f3ff;
  --color-purple-700: #5925dc;

  --color-zumira-green: #36ad71;

  --color-primary-25: var(--color-primary-25);
  --color-primary-50: var(--color-primary-50);
  --color-primary-100: var(--color-primary-100);
  --color-primary-200: var(--color-primary-200);
  --color-primary-300: var(--color-primary-300);
  --color-primary-400: var(--color-primary-400);
  --color-primary-500: var(--color-primary-500);
  --color-primary-600: var(--color-primary-600);
  --color-primary-700: var(--color-primary-700);
  --color-primary-800: var(--color-primary-800);
  --color-primary-900: var(--color-primary-900);

  --color-background-0: var(--color-background-0)
  --color-background-25: var(--color-background-25);
  --color-background-50: var(--color-background-50);
  --color-background-100: var(--color-background-100);
  --color-background-200: var(--color-background-200);
  --color-background-300: var(--color-background-300);
  --color-background-400: var(--color-background-400);
  --color-background-500: var(--color-background-500);
  --color-background-600: var(--color-background-600);
  --color-background-700: var(--color-background-700);
  --color-background-800: var(--color-background-800);
  --color-background-900: var(--color-background-900);

  --color-text-25: var(--color-text-25);
  --color-text-50: var(--color-text-50);
  --color-text-100: var(--color-text-100);
  --color-text-200: var(--color-text-200);
  --color-text-300: var(--color-text-300);
  --color-text-400: var(--color-text-400);
  --color-text-500: var(--color-text-500);
  --color-text-600: var(--color-text-600);
  --color-text-700: var(--color-text-700);
  --color-text-800: var(--color-text-800);
  --color-text-900: var(--color-text-900);

  --color-border-100: var(--color-border-100);
  --color-border-200: var(--color-border-200);
  --color-border-300: var(--color-border-300);

  --shadow-focus-ring: 0px 0px 0px 4px #c7c6c5;
  --shadow-error-ring: 0px 0px 0px 4px #fee4e2;
  --shadow-lg: 0px 4px 6px -2px rgba(16, 24, 40, 0.03), 0px 12px 16px -4px rgba(16, 24, 40, 0.08);
  --shadow-xl: 0px 8px 8px -4px rgba(16, 24, 40, 0.03), 0px 20px 24px -4px rgba(16, 24, 40, 0.08);

  --background: 0 0% 100%;
  --foreground: 240 10% 3.9%;
  --card: 0 0% 100%;
  --card-foreground: 240 10% 3.9%;
  --popover: 0 0% 100%;
  --popover-foreground: 240 10% 3.9%;
  --primary: 142.1 76.2% 36.3%;
  --primary-foreground: 355.7 100% 97.3%;
  --secondary: 240 4.8% 95.9%;
  --secondary-foreground: 240 5.9% 10%;
  --muted: 240 4.8% 95.9%;
  --muted-foreground: 240 3.8% 46.1%;
  --accent: 240 4.8% 95.9%;
  --accent-foreground: 240 5.9% 10%;
  --destructive: 0 84.2% 60.2%;
  --destructive-foreground: 0 0% 98%;
  --border: 240 5.9% 90%;
  --input: 240 5.9% 90%;
  --ring: 142.1 76.2% 36.3%;
  --radius: 0.75rem;
  --chart-1: 12 76% 61%;
  --chart-2: 173 58% 39%;
  --chart-3: 197 37% 24%;
  --chart-4: 43 74% 66%;
  --chart-5: 27 87% 67%;
}

@layer base {
  body {
    @apply bg-background-0 text-black font-sans;
  }

  input,
  button {
    @apply font-sans;
  }

  .markdown h1,
  .markdown h2,
  .markdown h3,
  .markdown h4,
  .markdown h5,
  .markdown h6 {
    margin-top: 0 !important;
  }

  .markdown h1 {
    font-size: 1.6rem !important;
    margin: 0.4rem 0 0.8rem 0 !important;
  }
  .markdown h2 {
    font-size: 1.35rem !important;
    margin: 0.25rem 0 0.5rem 0 !important;
  }

  .markdown h3,
  .markdown h4,
  .markdown h5,
  .markdown h6 {
    font-size: 1.1rem !important;
    margin: 0.1rem 0 0.2rem 0 !important;
  }

  .markdown li {
    margin-bottom: 0.5rem;
  }

  .markdown ol,
  .markdown ul {
    /* padding-left: 0 !important; */
    margin: 0.75rem 0 !important;
    gap: 0rem !important;
  }

  .markdown * {
    font-size: 1rem;
    color: var(--color-text-700) !important;
  }

  .markdown p {
    margin: 0.75rem 0 !important;
    line-height: 1.5rem;
  }

  .markdown hr {
    margin: 1rem 0 !important;
  }

  .ProseMirror:focus {
    outline: none;
  }

  .ProseMirror {
    padding: 0.25rem 0.75rem !important;
    min-height: 10rem;
    max-height: 60vh;
    overflow: scroll;
  }

  @keyframes jump {
    0%,
    100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-3px);
    }
  }

  .animate-jump {
    animation: jump 1.5s ease-in-out infinite;
  }
}
